<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="/home" class="flex items-center mb-4 text-5xl font-semibold text-gray-900">
      MarketPlace
    </a>
    <div class="w-full bg-white rounded-lg border border-gray-300 md:mt-0 sm:max-w-md xl:p-0">
      <div (input)="onInput()" class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
          Faça login na sua conta
        </h1>
        @if (showError) {
          <div class="text-red-500 text-xs">Credenciais de login incorretas</div>
        }
        <form [formGroup]="loginForm" (ngSubmit)="authenticate()" class="space-y-4 md:space-y-6">
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 ">Username</label>
            <input type="text" formControlName="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:outline-none block w-full p-2.5" placeholder="John">
            @if (loginForm.controls["username"].touched && loginForm.controls["username"].invalid) {
              <div class="text-red-500 text-xs">Você precisa fornecer um nome de usuário</div>
            }
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            <input type="password" formControlName="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:outline-none block w-full p-2.5">
            @if (loginForm.controls["password"].touched && loginForm.controls["password"].invalid) {
              <div class="text-red-500 text-xs">Você precisa fornecer uma senha</div>
            }
          </div>
          <button [disabled]="!loginForm.valid" [class.disabled]="loginForm.invalid" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Entrar</button>
          <p class="text-sm font-light text-black">
            Ainda não tem uma conta? <a href="/register" class="font-medium text-primary-600 hover:underline">Inscrever-se</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
